.firmy{
    height: 90vh;
    color: white;
}

.clanek{
    margin: 10px;
    display: block;
    
}

#secondArt{
    margin: 10px;
    display: block;
    

}

.clanek,p{
    color: white;
    text-align: block;
}