.firmy{
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clanek{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secondArt{
    margin: 10px;
    display: block;
    

}

.clanek,p{
    color: white;
    text-align: block;
}